<!DOCTYPE html>
<html lang="en">
<head>
    <title>Вхід</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>
<body>
<form>
    <label for="login">login:</label><br/>
    <input type="text" id="login" placeholder="Введіть логін..."/><br/>
    <label for="password">password:</label><br/>
    <input type="password" id="password" placeholder="Введіть пароль..."/><br/>
    <input type="button" value="Вхід"/>
</form>

</body>
</html>