<!DOCTYPE html>
<html lang="en">
<head>
    <script defer src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script defer src="../js/index.js"></script>
    <title>Моя сторінка</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>
<body>
<h2>Моя сторінка</h2>
<a href="home" target="_self">Головна</a>
<a href="me" target="_self">Моя сторінка</a>
<a href="edit" target="_self">Редагувати</a>
<a href="/" target="_self">Вихід</a><br/>
<div id="app"> <p>{{name}}</p> <p>{{surname}}</p>  </div>

</body>
</html>