<!DOCTYPE html>
<html lang="en">
<head>
    <script defer src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script defer src="../js/main.js"></script>
    <title>Моя сторінка</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
<h2>Моя сторінка</h2>
<a href="main_page.html" target="_self">Головна</a>
<a href="personal_page.html" target="_self">Моя сторінка</a>
<a href="edit_page.html" target="_self">Редагувати</a>
<a href="start_page.html" target="_self">Вихід</a><br/>
<div id="app"> <p>{{name}}</p> <p>{{surname}}</p>  </div>

</body>
</html>