<!DOCTYPE html>
<html lang="en">
<head>
    <title>Регістрація</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
<h3>Реєстрація</h3>
<p>
    Після реєстрації, Вам на електронну пошту буде надіслано лист, що ваш профіль підтвердено. Після цього Ви будете
    мати доступ до інформації університету.
</p>
<form>
    <label for="name">Прізвище:</label><input type="text" id="name" placeholder="Прізвище..."/><br/>
    <label for="first_name">Ім'я:</label><input type="text" id="first_name" placeholder="Ім'я..."/><br/>
    <label for="second_name">По батькові:</label><input type="text" id="second_name" placeholder="По батькові..."/><br/>
    <label for="sex">Стать:</label>
    <select id="sex">
        <option selected="selected">Не обрано</option>
        <option>Чоловіча</option>
        <option>Жіноча</option>
    </select><br/>
    <label for="date_of_birth">Дата народження:</label> <input type="date" id="date_of_birth"/><br/>
    <label for="email">E-mail:</label><input type="text" id="email" placeholder="Введіть e-mail..."/><br/>
    <label for="prof">Роль:</label>
    <select id="prof">
        <option selected="selected">Не обрано</option>
        <option>Студент</option>
        <option>Викладач</option>
        <option>Адміністрація</option>
        <option>Бухгалтерія</option>
    </select><br/>
    <label for="science">Наукова ступінь:</label>
    <input type="text" id="science" placeholder="Введіть ступінь..."/><br/>
    <label for="login_reg">Логін:</label>
    <input type="text" id="login_reg" placeholder="Введіть логін..."/><br/>
    <label for="password_reg">Пароль:</label>
    <input type="text" id="password_reg" placeholder="Введіть пароль..."/><br/>
    <label for="password_check">Повторіть пароль:</label>
    <input type="text" id="password_check" placeholder="Повторіть пароль..."/><br/>
    <input type="button" value="Зареєструватись"/>
</form>

</body>
</html>