<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Система управління персональними даними викладачів</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="Система управління персональними даними викладачів НТУУ КПІ"/>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>
<body>
<h2>
Система управління персональними даними викладачів Національного Технічного Університету України <br/>
<q>Київський Політехнічний Інститут імені Ігоря Сікорського</q>
</h2>
<p>
    Доступ до даної системи мають лише співробітники та студенти університету. Після реєстрації в системі, Ваш акаунт
    буде перевірено. Якщо такого співробітника або студента не існує в базі університету, Ваш акаунт буде видалено.
</p>
<form>
    <input type="button" value="Вхід"/>
    <input type="button" value="Реєстрація"/>
</form>
</body>
</html>